In [9]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
researchers = pd.read_csv("output/researchers.csv", index_col="id")
publications = pd.read_csv("output/publications.csv", index_col="id")
phds = pd.read_csv("output/phds.csv", index_col="id")
postdocs = pd.read_csv("output/postdocs.csv", index_col="id")

In [21]:
researchers[['n_phds','n_postdocs','n_articles']].corr(method="spearman")

              n_phds  n_postdocs  n_articles
n_phds      1.000000    0.060283    0.032336
n_postdocs  0.060283    1.000000    0.191584
n_articles  0.032336    0.191584    1.000000

In [12]:
researchers.n_phds.value_counts()

1    19384
2      480
0      105
3       14
4        1
Name: n_phds, dtype: int64

In [18]:
researchers.describe().round()

       last_update     ID_number   n_phds  n_postdocs  n_articles
count      19980.0  1.993800e+04  19984.0     19984.0     19984.0
mean    15381337.0  4.959821e+15      1.0         1.0        40.0
std      8787688.0  2.877956e+15      0.0         1.0        51.0
min      1022017.0  3.256910e+11      0.0         0.0         0.0
25%      8092018.0  2.509579e+15      1.0         0.0        12.0
50%     14082018.0  4.957722e+15      1.0         0.0        24.0
75%     23052018.0  7.438690e+15      1.0         1.0        49.0
max     31122016.0  9.999218e+15      4.0        11.0       916.0